<ul class="topNavBar">
  <li class="topNavItem"><a href="/"><img id="topBarLogo" src="/img/nelsonchessLogo.png" alt="Nelson Chess Logo"></a></li>
  <li class="topNavItem"><a href="/play">Play</a></li>
  <li class="topNavItem"><a href="/review">Review</a></li>
  <li class="topNavItem"><a href="/about">About</a></li>
</ul>