<div class="topNavBar">
  <a class="topNavLogo" href="/"><img id="topBarLogo" src="/img/nelsonchessLogo.png" alt="Nelson Chess Logo"></a>
  <a id="play" class="topNavItem" href="/play"><div>Play</div></a>
  <a id="review" class="topNavItem" href="/review"><div>Review</div></a>
  <a id="about" class="topNavItem" href="/about" style="float:right"><div>About</div></a>
</div>