<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Nelsonchess</title>
    <%- include('fonts'); -%>
    <link rel="stylesheet" href="/style/default.css" type="text/css"/>
  </head>

  <body>
    <%- include('header'); -%>

    <%- include('footer'); -%>
  </body>
</html>
