<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Play | Nelsonchess</title>
    <%- include('fonts'); -%>
    <link rel="stylesheet" href="/style/default.css" />
  </head>

  <body>
    <%- include('header'); -%>
    <div class="main">
      <div class="center">
        <form action="/playRequest" method="get">
          <fieldset>
            
          </fieldset>
        </form>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
