<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Play | Nelsonchess</title>
  <%- include('fonts'); -%>
    <link rel="stylesheet" href="/style/default.css" />
</head>

<body>
  <%- include('header'); -%>
    <div class="main">
      <div class="center">
        <form id="playForm" action="/playRequest/create" method="post">
          <fieldset>
            <h2>Create a Game</h1>
              <h3>Select a Color</h3>
              <input id="white" name="color" type="radio" value="white">
              <label for="white">White</label>
              <input id="black" name="color" type="radio" value="black">
              <label for="black">Black</label>
              <input id="random" name="color" type="radio" value="random" checked>
              <label for="random">Random</label>
              <div class="buttonContainer">
                <button id="createButton" type="submit">Create Game</button>
              </div>
          </fieldset>
        </form>
        <br>
        <form action="/playRequest/join" method="post">
          <fieldset>
            <h2>Join a Game</h1>
              <h3>Game ID</h3>
              <input id="id" name="id" type="text" maxlength="8" required>
              <br>
              <br>
              <div class="buttonContainer">
                <button id="joinButton" type="submit">Join Game</button>
              </div>
          </fieldset>
      </div>
      <%- include('footer'); -%>
    </div>
</body>

</html>