<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nelsonchess</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <% header.ejs %>
    
    <% footer.ejs %>
  </body>
</html>
