<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <%- include('fonts'); -%>
    <title>Review | Nelsonchess</title>
    <link rel="stylesheet" href="/style/default.css" />
    <script src="/js/reviewBoard.js" defer></script>
</head>

<body>
  <%- include('header'); -%>
    <div class="main">
      <div class="center">
        <%- include('board'); -%>
          <div id="navButtons">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
      </div>
      <div class="sidebar">

      </div>
      <%- include('footer'); -%>
    </div>
</body>

</html>