html {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

body {
	
}

.topNavBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%
}

#topBarLogo {
	width: 5rem;
}

.topNavItem {
	display: inline;
}